<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                    <resource id="Test_AllXmlFiles::allXmlFiles" disabled="false" title="Test Acl" sortOrder="51">
                        <resource id="Test_AllXmlFiles::allXmlFiles2" title="Test Acl 2" sortOrder="51" />
                        <resource id="Test_AllXmlFiles::allXmlFiles3" title="Test Acl 3" sortOrder="51" />
                    </resource>
                </resource>
        </resources>
    </acl>
</config>